# ignore
/actor/.settings
/actor/.project
/actor/.classpath
/actor/target/
/actor/static/vendor/bootstrap-3.3.5/css/
/actor/static/vendor/bootstrap-3.3.5/fonts/
/actor/static/vendor/bootstrap-3.3.5/js/
